/* Layout Styles */
* {
	box-sizing: border-box;
	margin: 0;
}

.container {
	width: 100%;
	position: relative;
	top: 100px;
	color: #2d3945;
}
header {
	width: 100%;
	left: 0;
	top: 0;
	display: block;
	position: fixed;
	text-align: center;
	background: #2d3945;
	color: #ffffff;
	z-index: 100000;
	text-transform: uppercase;
}
form {
	width: 90%;
	margin: auto;
}

/* Attribute Selectors */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="submit"],
textarea,
select {
  font-size: 1em;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  background-color: #eff0f1;
  margin-top: 15px;
}
textarea,
input[type="submit"] {
	width: 100%;
	
}
input[type="submit"] {
	color: #fff;
	background-color: #4ebbb5;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 10px 4px 8px 0;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  background-color: #eff0f1;
  
}


input[type="text"]:-ms-input-placeholder
{
    text-align: right;
	font-style: italic;
}
input[type="email"]:-ms-input-placeholder
{
    text-align: right;
	font-style: italic;
}
input[type="text"]::-webkit-input-placeholder {
    text-align: right;
	font-style: italic;
}
input[type="email"]::-webkit-input-placeholder {
    text-align: right;
	font-style: italic;
}
input::-moz-placeholder {
 text-align: right;
 font-style: italic;
}
input[type="checkbox"]:checked + label {
	font-weight: bold;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus
 {
	border-bottom-color: #4ebbb5;
}

.marquee {
	text-align: center;
}
.marquee p {
	color: #cbced1;
	padding: 0 10px;
	margin-bottom: 25px;
}
.zip {
	width: 30px;
	margin-bottom: 15px;
}
#zip {
	width: 200px;
	display: block;
}

label {
	font-size: 1.1em;
	margin-top: 15px;

}
h2 {
	margin: 15px 0 4px 0;
}
hr {
	margin: 10px auto;
	border: 0;
	height: 0;
	width: 90%;
	border-top: 7px double #2d3945;
}
fieldset {
	padding: 15px;
	border: 0;
	border: none;
}
fieldset span {
	display: block;
	margin: 5px 0 15px 0;
	color: #2d3945;
	font-size: 1.2em;
}
select {
	height: 50px;
}
textarea {
	height: 100px;
}
	
/* Float Clearfix */
.clearfix::after {
		content: " ";
		display: table;
		clear: both;
}

@media (min-width: 480px) {
	form,
	.container {
		width: 500px;
		margin: 0 auto;
	}
	hr {
		width: 100%;
	}
	.contact label {
		width: 30%;
		display: inline-block;
	}
	.contact input,
	.contact select {
		width: 60%;
		display: inline-block;
	}
	#zip {
		display: inline-block;
	}
	.italic {
		font-style: italic;
		opacity: 0.8;
		color: red;
	}
		
}
